#jFlowSlide, #jFlowSlide2, #jFlowSlide3 { background:#000; font-family: Georgia; }

#myController, #myController2, #myController3 { font-family: Georgia; padding:2px 0;  width:100px; display:none;}
#myController span.jFlowSelected, #myController2 span.jFlowSelected, #myController3 span.jFlowSelected { background:#000;margin-right:0px; }

.slide-wrapper { padding: 0; }
.slide-thumbnail { width:212px;height:266px; }
/*.slide-thumbnail img {max-width:300px; }*/
.slide-details { width:290px; float:right; margin-left:10px;}
.slide-details h2 { font-size:1.5em; font-style: italic; font-weight:normal; line-height: 1; margin:0; }
.slide-details .description { margin-top:10px; }

.jFlowControl, .jFlowPrev, .jFlowNext, .jFlowControl2, .jFlowPrev2, .jFlowNext2, .jFlowControl3, .jFlowPrev3, .jFlowNext3 { color:#FFF; cursor:pointer; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; }
.jFlowControl:hover, .jFlowPrev:hover, .jFlowNext:hover, .jFlowControl2:hover, .jFlowPrev2:hover, .jFlowNext2:hover, .jFlowControl3:hover, .jFlowPrev3:hover, .jFlowNext3:hover { background: #000; }

