body.topFrame {
    
}

#buildText,
#workText {
    position: absolute;
    right: 5px;
    top: 0;
}

ul.dropdown {
    background-image: none;
    background-color: #C9E7FF;
}

ul.dropdown li a,
ul.dropdown .dir {
    border-color: #C9E7FF;
    border-right-color: #50B5FF;
}

ul.dropdown li {
    background-color: #C9E7FF;
}

ul.dropdown li a:hover {
    /*border-color: #3399FF;*/
    border-right-color: #666;
}

ul.dropdown a,
ul.dropdown span {
    padding: 4px 12px;
}

ul.dropdown a:hover {
    text-decoration: none;
    background-color: #FFF;
}